%h1 Admin Konsole
%p
  Liste freizuschaltender User
%p
  - if @inactive_users.blank?
    Niemand will aktiviert werden.
  - else
    = form_tag user_activation_path
    - @inactive_users.each do |user|
      = user.login 
      = check_box "activation[#{user.login}]", 'active', { :class => 'user_activation' }
      %br/
    %br/
    = submit_tag 'Absenden'