%h1 Admin Konsole
%p
  %a{:href => account_path}
    Zur&uuml;ck zur Profilseite
%h2
  Liste freizuschaltender Benutzer
%p
  - if @inactive_users.blank?
    Niemand will aktiviert werden.
  - else
    - form_tag user_activation_path do
      - @inactive_users.each do |user|
        = user.name 
        = check_box "activation[#{user.id}]", 'active'
        %br/
      %br/
      = submit_tag 'Absenden'
%h2
  Benutzereinstellungen bearbeiten
%p
  - if @active_users.blank?
    Keine Benutzer angelegt.
  - else
    - form_tag user_details_path do
      Benutzer ausw&auml;hlen:
      = collection_select('user', 'id', @active_users, :id, :name)
      = submit_tag 'Bearbeiten'
   