%script{:type => 'text/javascript'}
  = "var stats_user_array = #{@stats_tables.to_json};"
  = "var stats_data_series_array = #{@stats_data.to_json};"
  
%header
  %h1
    Admin Konsole
  %p
    Hier erhalten sie eine Übersicht über die am System vorhandenen Nutzer und können die einzelnen Nutzer bearbeiten.
    Folgende Aktionen stehen zur Verfügung:
    %ul
      %li
        %img{:src => '/images/active.png'}
        Benutzer aktivieren bzw. deaktivieren
      %li
        %img{:src => '/images/admin.png'}
        Benutzer zum Admin ernennen bzw. Ernennung zurückziehen
      %li
        %img{:src => '/images/edit.png'}
        API-Zugriffsrechte eines Benutzers bearbeiten
      %li
        %img{:src => '/images/delete.png'}
        Benutzer löschen
%table
  %tr
    %th Benutzer
    %th Aktiv?
    %th Admin?
    %th Aktionen
    %th Angemeldet seit
  - @users.each do |user|
    %tr
      %td= mail_to(user.email, user.name)
      %td
        %img{:src => "#{user.active? ? "/images/ja.png" : "/images/nein.png"}"}
      %td
        %img{:src => "#{user.admin? ? "/images/ja.png" : "/images/nein.png"}"}
      %td
        - onclick_activate = "return confirm('Soll dieser Benutzer wirklich aktiviert werden? Der Benutzer erhält eine automatische Aktivierungsnachricht per E-Mail und Leserechte auf alle Datenquellen.');"
        - onclick_deactivate = "return confirm('Soll dieser Benutzer wirklich deaktiviert werden?');"
        %a{:href => "#{url_for(:controller => 'admin', :action => "user_activation", :user => user.id)}", :class => 'edit_user', :onclick => "#{user.active? ? onclick_deactivate : onclick_activate}"}
          %img{:src => '/images/active.png'}
        - onclick_admin = "return confirm('Soll dieser Benutzer wirklich zum Admin ernannt werden?');"
        - onclick_deadmin = "return confirm('Soll dieser Admin wirklich seinen Admin-Status verlieren?');"
        %a{:href => "#{url_for(:controller => 'admin', :action => 'set_admin', :user => user.id)}", :class => 'edit_user', :onclick => "#{user.admin? ? onclick_deadmin : onclick_admin}"}
          %img{:src => '/images/admin.png'}
        %a{:href => "#{url_for(:controller => 'admin', :action => 'user_details', :user => user.id)}", :class => 'edit_user'}
          %img{:src => '/images/edit.png'}
        %a{:href => "#{url_for(:controller => 'admin', :action => 'delete_user', :user => user.id)}", :class => 'edit_user', :onclick => "return confirm('Soll dieser Benutzer wirklich gelöscht werden?');"}
          %img{:src => '/images/delete.png'}
      %td= user.created_at.strftime('%d. %m. %Y - %H:%M Uhr')
         
%header
  %h1
    API-Statistik
#stats-container