%h1 Admin Konsole
%p
  %b Liste freizuschaltender User
%p
  - if @inactive_users.blank?
    Niemand will aktiviert werden.
  - else
    = form_tag user_activation_path
    - @inactive_users.each do |user|
      = user.name 
      = check_box "activation[#{user.id}]", 'active', { :class => 'user_activation' }
      %br/
    %br/
    = submit_tag 'Absenden'