:javascript
  function select_all(ids, select) {
    while(ids.length > 0) {
      $( "#permission_" + ids.shift() + "_" + select ).attr('checked', true);
    }
  }

%header
  %h1 Nutzerdaten bearbeiten
- if @user.blank?
  %p
    Dieser Nutzer existiert nicht.
- else
  %p
    = "Rechtevergabe f&uuml;r #{@user.name}"
  - form_tag set_permissions_path, :name => 'set_permissions' do
    %fieldset
      %legend Rechtevergabe
      .fieldset-desc
        %p
          Bitte wählen Sie die Rechte für diesen Nutzer aus.
      = hidden_field(:user, :id)
      - @permissions.sort.each do |source,tables|
        %h3
          = source.capitalize
        - tables_sort = tables.sort
        - tables_sort.each do |table,columns|
          .accordion
            %h3
              %a{:href => '#'}
                = table.capitalize
            %div
              %table
                %tr
                  %td
                    Alles auswählen
                  %td
                    %input{:type => "checkbox", :name => "select-all-#{source}-#{table}-read", :class => "select-all #{source}-#{table}-read"}
                  %td
                    %input{:type => "checkbox", :name => "select-all-#{source}-#{table}-create", :class => "select-all #{source}-#{table}-create"}
                  %td
                    %input{:type => "checkbox", :name => "select-all-#{source}-#{table}-update", :class => "select-all #{source}-#{table}-update"}
                %tr
                  %td
                    &nbsp;
                  %td
                    Lesen
                  %td
                    Erstellen
                  %td
                    Ändern
                / Remove all nil elements which means a permission where no column is specified (delete permission)
                - columns.reject{|k,v| k.nil?}.sort.each do |column, accesses|
                  %tr
                    %td
                      = "#{t("data.#{source}.#{table}.#{column}")} (#{column})"
                    - %w[read create update delete].each do |access|
                      %td
                        - unless accesses[access].nil?
                          - if @user_permissions.reject! {|p| p.source == source and p.table == table and p.column == column and p.access == access}
                            %input{:type => "checkbox", :name => "permissions[#{accesses[access]}]", :checked => true, :class => "#{source}-#{table}-#{access}"}
                          - else
                            %input{:type => "checkbox", :name => "permissions[#{accesses[access]}]", :class => "#{source}-#{table}-#{access}"}
                        - else
                          &nbsp;
        .accordion
          %h3
            %a{:href => '#'}
              Löschrechte
          %div
            %table
              %tr
                %td
                  Alles auswählen
                %td
                  %input{:type => "checkbox", :name => "select-all-#{source}-delete-delete", :class => "select-all #{source}-delete-delete"}
              %tr
                %td
                  &nbsp;
                %td
                  Löschen
                - tables_sort.each do |table,columns|
                  - columns.reject!{|k,v| !k.nil?}.sort.each do |column, accesses|
                    %tr                         
                      %td
                        = "Datensätze aus #{table.capitalize}"
                      %td
                        - if @user_permissions.reject! {|p| p.source == source and p.table == table and p.column == nil and p.access == 'delete'}
                          %input{:type => "checkbox", :name => "permissions[#{accesses['delete']}]", :checked => true, :class => "#{source}-#{table}-delete"}
                        - else
                          %input{:type => "checkbox", :name => "permissions[#{accesses['delete']}]", :class => "#{source}-#{table}-delete"}

      %button{:name => 'commit', :type => 'submit'} Absenden
    
  - key_confirm_function = "return confirm('Wollen Sie den API-Key des Nutzers wirklich erneuern?')" 
  - form_tag reset_apikey_path, :name => 'reset_apikey', :onsubmit => key_confirm_function do
    %fieldset
      %legend
        = "API-Key für #{@user.name} zurücksetzen"
      .fieldset-desc
        %p
          Mit einem Klick auf Absenden wird der API-Key des Nutzers erneuert. Der Nutzer muss dar&uuml;ber in Kenntnis gesetzt werden,
          da sein alter API-Key dann nicht mehr funktioniert.
      = hidden_field :user, :id
      %button{:name => 'commit', :type => 'submit'} API-Key erneuern
