:javascript
  function validate_empty() {
    // validate new_host
    if(!$("#new_host_first_name").val() || !$("#new_host_last_name").val()) {
      alert("Sie müssen mindestens den Namen des Veranstalters ausfüllen.");
      return false;
    }
    return true;
  }
- data ||= Hash.new
- form_tag target, :onsubmit => 'return validate_empty();' do
  %fieldset
    .fieldset-desc
      %p
        Bitte geben Sie Informationen zum Veranstalter ein.
      %p
        %b Pflichtfelder:
        %br
        Die Felder für Vor- und Nachname müssen ausgefüllt werden.
      %p
        %b Hinweise:
        %br
        Bitte geben Sie Telefonnummern inklusive der internationalen Vorwahl an (bspw. +49 341 12345-01). 
    - unless @host_rows.blank?
      = hidden_field_tag 'host_id', data['id'].blank? ? '' : data['id'] 
      - %w[first_name last_name company street housenumber housenumber_additional postcode city phone fax mobile email url comment].each do |row|
        - if @host_rows.include?(row)
          = label_tag t("data.calendar.hosts.#{row}")
          = row == 'comment' ? "#{text_area_tag "new_host[#{row}]", data[row].blank? ? '' : data[row]}" : "#{text_field_tag "new_host[#{row}]", data[row].blank? ? '' : data[row]}"
    %button{:name => 'commit', :type => 'submit'} Eintragen