%h1 Edit My Account
- form_for @user, :url => account_path do |form|
  = form.error_messages
  = form.label :name
  %br/
  = form.text_field :name
  %br/
  %br/
  = form.label :telefon
  %br/
  = form.text_field :telefon
  %br/
  %br/
  = form.label :email
  %br/
  = form.text_field :email, :readonly => 'readonly'
  %br/
  %br/
  = form.label :password, form.object.new_record? ? nil : "Change password"
  %br/
  = form.password_field :password
  %br/
  %br/
  = form.label :password_confirmation
  %br/
  = form.password_field :password_confirmation
  %br/
  = form.submit "Update"
%br/
= link_to "My Profile", account_path
