%h1 Registrierung
- form_for @user, :url => account_path do |form|
  = form.error_messages
  = form.label :name
  %br/
  = form.text_field :name
  %br/
  %br/
  = form.label :telefon
  %br/
  = form.text_field :telefon
  %br/
  %br/
  = form.label :email, 'E-Mail-Adresse'
  %br/
  = form.text_field :email
  %br/
  %br/
  = form.label :password, form.object.new_record? ? 'Passwort' : 'Passwort &auml;ndern'
  %br/
  = form.password_field :password
  %br/
  %br/
  = form.label :password_confirmation, 'Passwortbestätigung'
  %br/
  = form.password_field :password_confirmation
  %br/
  = form.submit "Registrieren"
