%header
  %h1 Registrierung
%p
  Hier können Sie sich als API.LEIPZIG-Nutzer registrieren. Ihre E-Mail-Adresse wird als Benutzerkennung verwendet.
- form_for @user, :url => account_path, :html => {:class => 'api-form'} do |form|
  %fieldset
    %legend Benutzerdaten
    .fieldset-desc
      %p
        Bitte geben Sie Ihre persönlichen Daten ein.
    = form.error_messages :header_message => nil, :message => nil, :class => 'error'
    = form.label :name
    = form.text_field :name
    = form.label :telefon
    = form.text_field :telefon
    = form.label :email, 'E-Mail-Adresse'
    = form.text_field :email
    = form.label :password, form.object.new_record? ? 'Passwort' : 'Passwort &auml;ndern'
    = form.password_field :password
    = form.label :password_confirmation, 'Passwortbestätigung'
    = form.password_field :password_confirmation
    %button{:name => 'commit', :type => 'submit'} Registrieren
    
    

  