%p
  %b Name:
  = h @user.name
  = link_to 'Profil bearbeiten', edit_account_path
  = link_to 'Logout', logout_path
%p
  - if @user.active?
    = "Sie wurden freigeschaltet. Hier ist Ihr API-Key: #{@user.single_access_token}"
%P
  Sie verfügen momentan über folgende Rechte:
  - @permissions.each do |tablename, permissions|
    %table
      %tr
        %th= "Datentabelle \"#{tablename.titleize}\""
      - unless permissions['read'].blank?
        %tr
          %td= "Lesezugriff auf die Spalten: #{permissions['read'].map{|p| p.spalte.titleize}.join(', ')}"
      - unless permissions['write'].blank?
        %tr
          %td= "Schreibzugriff auf die Spalten: #{permissions['write'].map{|p| p.spalte.titleize}.join(', ')}"
%p
  - if @user.admin?
    = "Hier geht es zur #{link_to 'Admin Konsole', admin_url}."