%header
  %h1
    = "Profil von #{@current_user.name}"
%p
  - if @user.active?
    Sie können mit folgendem API-Key auf API.LEIPZIG zugreifen: 
    = @user.single_access_token
%P
  Sie verfügen momentan über folgende Rechte:
  - @permissions.each do |tablename, permissions|
    %table
      %tr
        %th= "Datentabelle \"#{tablename.titleize}\""
      - unless permissions['read'].blank?
        %tr
          %td= "Lesezugriff auf die Spalten: #{permissions['read'].map{|p| p.spalte.titleize}.join(', ')}"
      - unless permissions['write'].blank?
        %tr
          %td= "Schreibzugriff auf die Spalten: #{permissions['write'].map{|p| p.spalte.titleize}.join(', ')}"
