%header
  %h1
    = "Profil von #{@current_user.name}"
%p
  - if @user.active?
    .notice
      Sie können mit folgendem API-Key auf API.LEIPZIG zugreifen: 
      %b= @user.single_access_token

- unless @permissions.blank?
  Sie verfügen momentan über folgende Rechte:
  - @permissions.each do |sourcename, tables|
    - unless tables.blank?
      .accordion
        %h3
          %a{:href => '#'}= "Datenquelle #{sourcename.titleize}"
        %div
          - tables.each do |tablename, columns|
            %table
              %tr
                %th= "Tabelle \"#{tablename.titleize}\""
                - %w[Lesen Erstellen Ändern].each do |headline|
                  %th= headline
              - @deletor = false
              - columns.each do |columnname, permissions|
                - @deletor = (columnname.blank? && !permissions['delete'].blank?) unless @deletor
                - Rails.logger.info "Deletor: #{@deletor}"
                - unless columnname.blank?
                  %tr
                    %td= "#{t("data.#{sourcename}.#{tablename}.#{columnname}")} (#{columnname})"
                    - %w[read create update].each do |access|
                      %td
                        %img{:src => "#{permissions[access].blank? ? "/images/nein.png" : "/images/ja.png"}"}
              - Rails.logger.info "Deletor2: #{@deletor}"
              - if @deletor
                %tr
                  %td{:colspan => 4}
                    Sie d&uuml;rfen Eintr&auml;ge dieser Tabelle l&ouml;schen. 
                
- else
  .notice Sie verfügen momentan über keine Zugriffsrechte.
          
