%header
  %h1
    = "Profil von #{@current_user.name}"
%p
  - if @user.active?
    .notice
      Sie können mit folgendem API-Key auf API.LEIPZIG zugreifen: 
      %b= @user.single_access_token

- unless @permissions.blank?
  Sie verfügen momentan über folgende Rechte:
  .accordion
    - @permissions.each do |sourcename, tables|
      - unless tables.blank?
        %h3
          %a{:href => '#'}= "Datenquelle #{sourcename.titleize}"
        %div
          - tables.each do |tablename, columns|
            %table
              %tr
                %th= "Tabelle \"#{tablename.titleize}\""
                - %w[Lesen Erstellen Ändern Löschen].each do |headline|
                  %th= headline
              - columns.each do |columnname, permissions|
                %tr
                  %td= "#{t("data.#{sourcename}.#{tablename}.#{columnname}")} (#{columnname})"
                  - %w[read create update delete].each do |access|
                    %td
                      %img{:src => "#{permissions[access].blank? ? "/images/nein.png" : "/images/ja.png"}"}
                
- else
  .notice Sie verfügen momentan über keine Zugriffsrechte.
          
