:javascript
  function new_host(value) {
    if (value == 'new') {
      $("#new_host").fadeIn();
    } else {
      $("#new_host").fadeOut();
    }
  }
  function new_venue(value) {
    if (value == 'new') {
      $("#new_venue").fadeIn();
    } else {
      $("#new_venue").fadeOut();
    }
  }
  
  function validate_empty() {
    // validate new_host
    if($("#new_host").is(':visible')) {
      if(!$("#new_host_first_name").val() || !$("#new_host_last_name").val()) {
        alert("Sie müssen mindestens den Namen des Veranstalters ausfüllen.");
        return false;
      }
    }
    //validate new_venue
    if($("#new_venue").is(':visible')) {
      if(!$("#new_venue_name").val() || !$("#new_venue_description").val() || !$("#new_venue_street").val() || !$("#new_venue_housenumber").val() || !$("#new_venue_postcode").val() || !$("#new_venue_city").val()) {
        alert("Sie müssen mindestens Name, Beschreibung und Adresse des Veranstaltungsortes ausfüllen.");
        return false;
      }
    }
    
    //validate event
    if (!$("#event_name").val() || !$("#event_description").val() || !$("#event_date_from").val() || !$("#event_date_to").val() || !$("#event_time_from").val() || !$("#event_time_to").val()) {
      alert("Sie müssen Name, Beschreibung und Startdatum/-zeit sowie Enddatum/-zeit der Veranstaltung ausfüllen.");
      return false;
    } else if ($("#branch option:selected").val() == '0') {
      alert("Sie müssen eine Branche auswählen.");
      return false;
    } else if ($("#host option:selected").val() == '0') {
      alert("Sie müssen einen Veranstalter auswählen.");
      return false;
    } else if ($("#venue option:selected").val() == '0') {
      alert("Sie müssen einen Veranstaltungsort auswählen.");
      return false;
    }
    return true;    
  }

%header
  %h1
    Kalendereintrag bearbeiten
%p
  Hier können Sie einen Termin bearbeiten  
- form_tag update_event_path, :onsubmit => 'return validate_empty();' do
  - unless @event_permissions.blank?
    - unless @event_rows.blank?
      = render :partial => "events/partials/event", :locals => {:event_rows => @event_rows, :branches => @branches, :data => @data}
      = hidden_field_tag 'event_id', @event_id
    %fieldset
      %legend Veranstalter
      .fieldset-desc
        %p
          Bitte geben Sie Informationen zum Veranstalter ein.
      - unless @host.blank?
        = "#{@host['first_name']} #{@host['last_name']}"
        = hidden_field_tag 'host_id', @host['id']
    %fieldset
      %legend Veranstaltungsort
      .fieldset-desc
        %p
          Bitte geben Sie Informationen zum Veranstaltungsort ein.
      - unless @venue.blank?
        = "#{@venue['name']}"
        = hidden_field_tag 'venue_id', @venue['id']
  %button{:name => 'commit', :type => 'submit'} Ändern