- data ||= Hash.new
%fieldset
  %legend Einzelheiten des Termins
  .fieldset-desc
    %p
      Bitte geben Sie die grundlegenden Informationen des Termins ein.
    %p
      Sie müssen alle Felder ausfüllen, lediglich die Url kann frei bleiben.
  - %w[name description date_from time_from date_to time_to url].each do |row|
    - if event_rows.include?(row)
      = label_tag t("data.calendar.events.#{row}")
      - if row =~ /time/
        - time = data[row].include?('T') ? data[row].split('T')[1].split('+')[0] : data[row] unless data[row].blank? 
        = text_field_tag "event[#{row}]", data[row].blank? ? '' : time, :class => 'time'
      - elsif row =~ /date/
        = text_field_tag "event[#{row}]", data[row].blank? ? '' : data[row], :class => 'date'
      - else
        = row == 'description' ? "#{text_area_tag "event[#{row}]", data[row].blank? ? '' : data[row]}" : "#{text_field_tag "event[#{row}]", data[row].blank? ? '' : data[row]}"
  - unless branches.blank?
    - blank_branch = "<option value='0' #{data['category_id'].blank? ? 'selected="selected"' : ""}>Wählen Sie eine Branche ...</option>"
    = label_tag 'Branche'
    = select_tag 'branch', blank_branch + branches.map{|h| "<option #{data['category_id'] == h['id'] ? 'selected="selected"' : ""}  value='#{h['id']}'>#{h['name']}</option>"}.to_s                    
