- data ||= Hash.new
%fieldset
  %legend Einzelheiten des Termins
  .fieldset-desc
    %p
      Bitte geben Sie die grundlegenden Informationen des Termins ein.
    %p
      %b Pflichtfelder:
      %br
      Die Felder für Name, Beschreibung und Startdatum müssen ausgefüllt werden.
      Ebenso müssen Branche, Veranstalter und Veranstaltungsort gewählt werden.
    %p
      %b Hinweise:
      %br
      Datumsangaben müssen im angelsächsischen Format erfolgen (bspw. 2011-01-01).
      %br
      %br
      Legen Sie am Ende fest, ob der Eintrag nur für Sie oder für alle Benutzer der API.Leipzig sichtbar sein soll.
  - %w[name description date_from time_from date_to time_to url].each do |row|
    - if event_rows.include?(row)
      = label_tag t("data.calendar.events.#{row}")
      - if row =~ /time/
        - time = data[row].include?('T') ? data[row].split('T')[1].split('+')[0] : data[row] unless data[row].blank?
        = text_field_tag "event[#{row}]", data[row].blank? ? '' : time, :class => 'time'
      - elsif row =~ /date/
        = text_field_tag "event[#{row}]", data[row].blank? ? '' : data[row], :class => 'date'
      - else
        = row == 'description' ? "#{text_area_tag "event[#{row}]", data[row].blank? ? '' : data[row]}" : "#{text_field_tag "event[#{row}]", data[row].blank? ? '' : data[row]}"
  - unless branches.blank?
    - blank_branch = "<option value='0' #{data['category_id'].blank? ? 'selected="selected"' : ""}>Wählen Sie eine Branche ...</option>"
    = label_tag 'Branche'
    = select_tag 'branch', blank_branch + branches.map{|h| "<option #{data['category_id'] == h['id'] ? 'selected="selected"' : ""} value='#{h['id']}'>#{h['name']}</option>"}.to_s
  - unless @hosts.blank?
    - blank_host = "<option value='0' #{data['host_id'].blank? ? 'selected="selected"' : ""}>Wählen Sie einen Veranstalter ...</option>"
    = label_tag 'Veranstalter'
    = select_tag 'host', blank_host + @hosts.map{|h| "<option #{data['host_id'] == h['id'] ? 'selected="selected"' : ""} value='#{h['id']}'>#{h['first_name']} #{h['last_name']}</option>"}.to_s
  - unless @venues.blank?
    - blank_venue = "<option value='0' #{data['venue_id'].blank? ? 'selected="selected"' : ""}>Wählen Sie einen Veranstaltungsort ...</option>"
    = label_tag 'Veranstaltungsort'
    = select_tag 'venue', blank_venue + @venues.map{|v| "<option #{data['venue_id'] == v['id'] ? 'selected="selected"' : ""} value='#{v['id']}'>#{v['name']}</option>"}.to_s
  = hidden_field_tag 'owner_id', data['owner_id'].blank? ? '' : data['owner_id']
  = label_tag 'public', 'Soll der Beitrag für alle Benutzer sichtbar sein?'
  = check_box_tag 'event[public]', '1', data['public'].nil? ? true : data['public']
  .clear
  %button{:name => 'commit', :type => 'submit'} Eintragen
