%header
  %h1 Anmeldung
%p
  Bitte
  %a{:href => signup_path} registrieren
  Sie sich für die Nutzung der API.LEIPZIG, falls Sie noch keine Zugangsdaten haben.
- form_for @user_session, :url => user_session_path, :html => {:class => 'api-form'} do |f|
  %fieldset
    %legend Zugangsdaten
    .fieldset-desc
      %p
        Bitte geben Sie Ihre Zugangsdaten ein.
    = f.error_messages :header_message => nil, :message => nil, :class => 'error'
    = f.label :email, 'E-Mail-Adresse'
    = f.text_field :email
    = f.label :password, 'Passwort'
    = f.password_field :password
    %div{:class => 'clearfix'}
      = f.check_box :remember_me, {:style => "width:auto;float:left;"}
      = f.label :remember_me, 'Dauerhaft angemeldet bleiben', {:style => "display:inline;float:left;"}
    %button{:name => 'commit', :type => 'submit'} Anmelden
