%header
  %h1 Login
%p
  Sie haben noch keinen Login?
  %a{:href => signup_path} Hier k&ouml;nnen Sie sich anmelden.
- form_for @user_session, :url => user_session_path, :html => {:class => 'api-form'} do |f|
  %fieldset
    %legend Zugangsdaten
    .fieldset-desc
      %p
        Bitte geben Sie Ihre Zugangsdaten ein.
    = f.error_messages :header_message => nil, :message => nil, :class => 'error'
    = f.label :email, 'E-Mail-Adresse'
    = f.text_field :email
    = f.label :password, 'Passwort'
    = f.password_field :password
    = f.check_box :remember_me
    = f.label :remember_me, 'Eingeloggt bleiben'
    %button{:name => 'commit', :type => 'submit'} Login