= render 'layouts/header.html.haml'
%section#Page.container.pane-backend{:role => "main"}
  %article.span-8
    %section#CatEdit
      %ul#CatEditTabs.span-8
        - if @current_user && @current_user.may_create_resource?('calendar', 'events')
          %li
            %a{:href => new_event_path, :title => "Neuer Kalendereintrag"} Neuer Kalendereintrag
        - if @current_user && @current_user.may_read_resource?('calendar', 'events')
          %li
            %a{:href => events_path, :title => "Kalender"} Kalender
        - if @current_user && @current_user.may_read_resource?('calendar', 'venues')
          %li
            %a{:href => venues_path, :title => "Veranstaltungsorte"} Veranstaltungsorte
        - if @current_user && @current_user.may_read_resource?('calendar', 'hosts')
          %li
            %a{:href => hosts_path, :title => "Veranstalter"} Veranstalter
        - if @current_user && @current_user.admin?
          %li
            %a.admin{:href => admin_path, :title => "Adminbereich"} Admin
      .clear &nbsp;
      - if flash[:success]
        .success
          = flash[:success]
      - if flash[:notice]
        .notice
          = flash[:notice]
      - if flash[:error]
        .error
          = flash[:error]
      .clear &nbsp;
      = yield
    %aside.span-4.last
      %section#Profil.span-5
        - if @current_user
          %ul#EditProfil
            %li
              %a{:href => account_path, :title => "Profil ansehen"} Profil ansehen
            %li
              %a{:href => edit_account_path, :title => "Profil bearbeiten"} Profil bearbeiten
            %li
              %a.smallfield{:href => edit_account_path, :title => "Passwort ändern"} Passwort ändern
    .clear &nbsp;
/ !Javascript - at the bottom for fast page loading
<script src="/js/jquery-1.4.4.min.js"></script>
- if controller.controller_name == 'admin' && controller.action_name == 'index'
  <script src="/js/highcharts.js"></script>
  <script src="/js/panel_statistics.js"></script>
<script src="/js/jquery-ui-1.8.10.custom.min.js"></script>
<script src="/js/jquery.ui.datepicker-de.js"></script>
<script src="/js/jquery.ui.timepicker-0.0.8.js"></script>
/ nice Slider on Homepage / maybe on the Gallery side
<script src="/js/jquery.tools.min.js?v=1"></script>
/ PlugIn to validate the forms on html5-doms : needed on all sites containing forms at api.leipzig
%script{:src => "/js/jquery.h5validate.js"}
/ Guess what? all the nice js-driven things on api.leipzig
%script{:src => "/js/api-leipzig-global.js?v=1"}
= render :file => 'layouts/footer.html'

