!!! XML
!!! 1.1
%html{html_attrs}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => "text/html; charset=UTF-8"}

    %title= "Leipzig API"

    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    - if controller.controller_name == 'admin'
      = javascript_include_tag :jquery_ui
      = stylesheet_link_tag 'compiled/jquery/ui/ui-lightness.css', :media => 'screen, projection'

  %body
    #mainContent= yield
